<div class="container">
	<div class="row padding">
		<div class="col-md-6">
			<h2>Why Buy From Us</h2>
			<hr>
			<p>We only choose the best in the industry, not because of the popularity of the brand. Social media can ruin people's judgement when it comes to deciding which supplement to buy and which of those are the best fit for your need.</p>

			<br>
			<h2>100% Customer Satisfaction</h2>
			<hr>
			<p>We take care of our customers the best that we can. If you are not satisfy with our products, not only we will give you the full refund, but also we will let you ship the product back for FREE.</p>
		</div>

		<div class="col-md-6">
			<img src="https://fitpedia.com/wp-content/uploads/2017/09/Bildschirmfoto-2017-09-11-um-09.12.25.png" class="w3-grayscale-min" height="479" width="400" align="right">
				<div class="bottomright">Cassandra Martin</div>
				<div class="bottomrightig">Instagram @casssmartin</div>
			</div>
		</div>
	</div>
</div>