<div class="container text-center">
	<div class="col-md-4">
		<h2>Build</h2>
		<hr>
		<h4>Build in the gym, fuel with us</h4>
	</div>

	<div class="col-md-4">
		<h2>Recover</h2>
		<hr>
		<h4>Take the advantage of recovering quickly</h4>
	</div>

	<div class="col-md-4">
		<h2>Maintain</h2>
		<hr>
		<h4>Preserve your gainz with proper maintainence</>
	</div>
</div>

<br>
<br>
<br>

<div class="col-md-12">
	<div id="jumbo2" class="jumbotron banner">
		<!-- <div class="container"> -->
	    <h1 id="jumbo2_h1">Get Started</h1> 
	    <p id="titleparagraph_2">with the best products in the industry</p>
	    <%= link_to '<button id="jumbo_button" type="button" class="btn btn-secondary pull-right">See All Products
        </button>'.html_safe, show_all_items_path %>
	</div>
</div>

<div class="col-md-12">
	<div id="jumbo3" class="jumbotron banner">
		<!-- <div class="container"> -->
	    <h1 id="jumbo3_h1">Proven Quality</h1> 
	    <p id="titleparagraph_3">we only choose the best, no knock-offs</p>
	    <%= link_to '<button id="jumbo_button" type="button" class="btn btn-secondary pull-right">See All Products
        </button>'.html_safe, show_all_items_path %>
	</div>
</div>
